/MicrosoftAccountApi/MicrosoftAccountApi/bin/
/MicrosoftAccountApi/MicrosoftAccountApi/obj/
/MicrosoftAccountApi/packages/
/MicrosoftAccountApi/riderModule.iml
/MicrosoftAccountApi/_ReSharper.Caches/
/MicrosoftAccountApi/.idea/